.DS_Store

firmware/midicontroller/.pio
firmware/midicontroller/.vscode/.browse.c_cpp.db*
firmware/midicontroller/.vscode/c_cpp_properties.json
firmware/midicontroller/.vscode/launch.json
firmware/midicontroller/.vscode/ipch

